<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="combined_classifier\app\static\style.css">
    <title>Document</title>
</head>
<body>
    <h1 class="right">Film finder</h1>
    <h2 class="left">Learn more: <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"></a></h2>
    <form>
        <input type="text" placeholder="Enter search term">
        <button type="submit">Go</button>
    </form>
</body>
</html>