<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" />
</head>
<body>
    <header>
        <h1>Film finder</h1>
    <h2>Learn more: <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Our blog</a></h2>
    </header>
    
   
    <form method="POST" action="/predict">
        <input type="text" placeholder="what do you want to watch?" name="user_text" />
        <button type="submit">Go</button>
    </form>
</body>
</html>
