
:root {
  --color-persian-indigo: #27187E; /* Persian Indigo */
  --color-cornflower-blue: #758BFD; /* Cornflower Blue */
  --color-periwinkle: #AEB8FE; /* Periwinkle */
  --color-anti-flash-white: #F1F2F6; /* Anti-Flash White */
  --color-ut-orange: #FF8600; /* UT Orange */
}

body{
    background-color: var(--color-anti-flash-white);
    font-family: sans-serif;
    margin: 0;
}

header{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

header h1{
  color: var(--color-persian-indigo);
  font-size: 3rem;
}

form{
  width: 100%;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form input{
  width: 50%;
  height: 3rem;
}

form button{
  background-color: var(--color-periwinkle);
  font-size: 1rem;
  margin-top: 1rem;
  font-weight: bold;
}